/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

@media (max-width: 767px) {
  * {
    max-width: 100% !important;
  }
}

html,
body {
  max-width: 100% !important;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-console);
  font-optical-sizing: auto;
}


@theme {
  /* COLORS */
  --color-brand-25: #ebf1fd;
  --color-brand-50: #cddefa;
  --color-brand-100: #9bc1f6;
  --color-brand-200: #65a7f2;
  --color-brand-300: #3f90dc;
  --color-brand-400: #3379ba;
  --color-brand-500: #29639a;
  --color-brand-600: #20517f;
  --color-brand-700: #14395b;
  --color-brand-800: #081f35;
  --color-brand-900: #031221;

  /* Gray Color Variants */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  /* Error color variants */
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-300: #fda29b;
  --color-error-500: #f04438;
  --color-error-700: #b42318;

  /* Warning color variants */
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-500: #f79009;
  --color-warning-700: #b54708;

  /* Success color variants */
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-500: #12b76a;
  --color-success-700: #027a48;

  --color-border-card: #d9d9d9;

  /* FONTS */
  --font-sans:
    "Geist", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-console: "Inconsolata";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  /* SHADOWS */
  --shadow-xs: 0 1px 2px rgba(16, 24, 40, 0.05);
  --shadow-sm:
    0 1px 3px 0 rgba(16, 24, 40, 0.1), 0 1px 2px 0 rgba(16, 24, 40, 0.06);
  --shadow-md:
    0 4px 8px -2px rgba(16, 24, 40, 0.1), 0 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-lg:
    0 12px 16px -4px rgba(16, 24, 40, 0.08),
    0 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-xl:
    0 20px 24px -4px rgba(16, 24, 40, 0.08),
    0 8px 8px -4px rgba(16, 24, 40, 0.03);
  --shadow-2xl: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0 32px 64px -12px rgba(16, 24, 40, 0.14);
  --shadow-card: 0 7.643px 30.572px 0 rgba(22, 25, 46, 0.10);

  



  /* SCREEN BREAKPOINTS */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1650px;

  /* Z-INDEX */
  /* z-0 → base
  z-10 → dropdowns
  z-20 → modals
  z-30 → popovers/tooltips
  z-40 → toasts
  z-50 → always-on-top */
}

:root {
  /* Brand color variants */
  --color-brand-25: #ebf1fd;
  --color-brand-50: #cddefa;
  --color-brand-100: #9bc1f6;
  --color-brand-200: #65a7f2;
  --color-brand-300: #3f90dc;
  --color-brand-400: #3379ba;
  --color-brand-500: #29639a;
  --color-brand-600: #20517f;
  --color-brand-700: #14395b;
  --color-brand-800: #081f35;
  --color-brand-900: #031221;

  /* Gray Color Variants */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  /* Error color variants */
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-300: #fda29b;
  --color-error-500: #f04438;
  --color-error-700: #b42318;

  /* Warning color variants */
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-500: #f79009;
  --color-warning-700: #b54708;

  /* Success color variants */
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-500: #12b76a;
  --color-success-700: #027a48;

  --color-border-card: #d9d9d9;
}

@layer components {
  /* 4px focus rings */
  .focus-ring-primary-100:focus-visible {
    @apply outline-none ring-4 ring-brand-100;
  }
  .focus-ring-primary-600:focus-visible {
    @apply outline-none ring-4 ring-brand-600;
  }
  .focus-ring-gray-100:focus-visible {
    @apply outline-none ring-4 ring-gray-100;
  }
  .focus-ring-gray-600:focus-visible {
    @apply outline-none ring-4 ring-gray-600;
  }
  .focus-ring-error-100:focus-visible {
    @apply outline-none ring-4 ring-error-100;
  }
}

@layer components {
  /* Base */
  .btn {
    @apply inline-flex items-center justify-center gap-2 rounded-lg font-medium
           transition-colors disabled:cursor-not-allowed
           focus-visible:outline-none focus-visible:ring-4;
  }

  /* Sizes */
  .btn-sm {
    @apply px-3.5 py-2 text-sm;
  }
  .btn-md {
    @apply px-4 py-2.5 text-sm;
  }
  .btn-lg {
    @apply px-4.5 py-2.5 text-base;
  }
  .btn-xl {
    @apply px-5 py-3 text-base;
  }
  .btn-2xl {
    @apply px-7 py-4 text-lg;
  }

  /* Variants (hierarchies) */
  .btn-primary {
    @apply bg-brand-600 shadow-xs text-white hover:bg-brand-700 disabled:bg-brand-100
           focus-visible:ring-brand-600;
  }
  .btn-secondary {
    @apply bg-brand-50 shadow-xs text-brand-700 hover:bg-brand-100 disabled:bg-brand-25 disabled:text-brand-300
           focus-visible:ring-brand-100;
  }

  .btn-secondary-gray {
    @apply bg-white shadow-xs text-gray-700 border border-gray-300 hover:bg-gray-50 hover:text-gray-800 disabled:bg-white disabled:border-gray-200 disabled:text-gray-300
           focus-visible:ring-gray-100;
  }

  .btn-tertiary {
    @apply bg-transparent text-brand-700 hover:bg-brand-50 disabled:text-gray-300;
  }

  .btn-tertiary-gray {
    @apply bg-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-700 disabled:text-gray-300;
  }

  .btn-link-color {
    @apply p-0! bg-transparent text-brand-700 hover:text-brand-800 disabled:text-gray-300;
  }

  .btn-link-gray {
    @apply p-0! bg-transparent text-gray-600 hover:text-gray-700 disabled:text-gray-300;
  }

  .btn-destructive {
    @apply bg-error-500 text-white hover:bg-error-700 disabled:bg-error-100
           focus-visible:ring-error-100;
  }

  /* State helpers */
  .btn-loading {
    @apply pointer-events-none opacity-60;
  }
}

/* Global styles (e.g., styles.css) */
.mask-fade-b {
  -webkit-mask-image: linear-gradient(to bottom, #000 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, #000 70%, transparent 100%);
}
.mask-fade-t {
  -webkit-mask-image: linear-gradient(to top, #000 70%, transparent 100%);
  mask-image: linear-gradient(to top, #000 70%, transparent 100%);
}
.mask-fade-x {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 20%,
    #000 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 20%,
    #000 80%,
    transparent 100%
  );
}

@layer components {
  [card-title] {
    @apply text-gray-900 font-semibold leading-none;
  }
  [card-description] {
    @apply text-gray-600 text-sm;
  }
}
